/*logo da página*/

.logo{
	float: left;
	margin: -80px -8px;
	width: 200px; 
	height: 200px;
}

/* borda do cabeçalho*/
.fieldsettop{
	border: none;
	background:darkgrey;
	margin: -8px -8px 0px -8px;
}


/*Edição dos Botões*/
a{
	text-decoration:none;
}

/* Botões de envio */
.sendtop{
	background-color: gray;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 8px 10px;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	font-family: Tahoma, Geneva, sans-serif;
	float: right;
	margin-top: 8px;
	margin-right: 16px;
}

.sendtop:hover{
	font-size: 15px;
	font-weight: bold;
	transition-duration: 0.2s;
	color: white;
}

.send{
	background-color: darkgray;
	border: none;
	color: white;
	padding: 0px 0px;
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 20px;
	text-decoration: none;
	border-radius: 4px;
}

/* Botões do cabeçalho da página */
.bartop{
	background-color: gray;
	border: none;
	color: white;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	float: left;
	margin-top: 8px;
	margin-right: 2px;
}

.enviar{
	background-color: gray;
	border-radius: 10px;
	font-size: 14px;
	font-family: 'Merriweather', serif;
	padding-left: 10px;
	padding-right: 10px; 
	padding-top:3px;
	padding-bottom: 3px; 
}
.enviar:hover{
	border-radius: 10px;
	background-color: black;
	color: white;
	font-size: 14px;
	font-family: 'Merriweather', serif;
}

p{
	font-size: 18px;
}
/*Tabelas*/
#menu {
	margin: -8px -8px 0px -8px;
	width: auto;
	background-color: #565656;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	text-align: center;
	padding: 15px;
}

#menu ul {
	margin: 0;
	padding: 8px 0;
	list-style: none;
}

#menu li {
	display: inline;
	padding: 8px;
}

#menu a {
	color: #FFF;
	padding: 10px;
	text-decoration: none;
}

#menu a:hover {
	background-color: #1B191B;
	color: #FFF;
	border-radius: 20px;
	
}

#menu li .active {
	background-color: #1B191B;
	color: #FFF;
	border-radius: 20px;
}

.lc{
	position: absolute;
	float: right;
	right: 0;
	margin: 8px;
}
