body{
	text-align: center;
	
}
.foto{
	width: 10%;
	display: inline-block;
	margin-right: 10px;
	padding: 0;
    border-radius:4px;

}

img{
	margin-left: 10px; 
	margin-right: 10px;
}
h1{
	text-align: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 55px;
	margin-bottom: 20px;
	color:white;
}
h4{
    color:white;
}
.alinha{
	text-align: center;
	margin-top: 40px;
}

.fundobranco{
    background-color:white;
    border:none;
}
footer{
	bottom: 0;
	text-align: center;
	margin-top: 24.3%;
	width: 100%;
	background-color: #565656;
	color:white;

}
